:root {
  --primary: hsl(172, 67%, 45%);
  --white: hsl(0, 0%, 100%);
  --dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan-darker: hsl(186, 14%, 43%);
  --dark-grayish-cyan-lighter: hsl(184, 14%, 56%);
  --light-grayish-cyan-darker: hsl(185, 41%, 84%);
  --light-grayish-cyan-lighter: hsl(180, 1%, 17%);
}